*{
  margin: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#colorized{
  margin-top: 30px;
}
.text{
  font-size: 2em;
  text-align: center;
  transition: 300ms ease-in-out;
}
.color_1{
  color: red;
}
.color_2{
  color: green;
}
.color_3{
  color: blue;
}